.git
.github
.venv
.uv-*
**/__pycache__
**/*.py[cod]
**/*.egg-info
.coverage
htmlcov
.pytest_cache
.pytest-*
.mypy_cache
.mypy-cache-*
.ruff_cache
build
dist
tmp
tests
tools
node_modules
.env
.env.*
*.log
*.md
